.container {
  /* scroll-snap-type: y mandatory;
  overflow-y: scroll; */
  height: 98vh;
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}
.container::-webkit-scrollbar {
  display: none;
}
.sectionone,
.sectiontwo,
.sectionthree,
.sectionfour {
  height: 98vh;
  scroll-snap-align: start;
}
.sectionone {
  /* background: tomato; */
}
.sectiontwo {
  /* background: blue; */
}
.sectionthree {
  background: orange;
}
.sectionfour {
  background: plum;
}
